---
import BaseMeta from '../components/BaseMeta.astro'
// import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
// import Helper from '../components/helper.svelte'
import IndexAnimeSlide from '../components/IndexAnimeSlide.svelte'
import {SITE_TITLE, SITE_DESCRIPTION} from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseMeta title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->

    <main class="flex flex-col">
      <IndexAnimeSlide
        data-force-animation={true}
        forceAnimation={true}
        animationFrameSet={{
          scenceId: 'a-side',
          startFrame: 0,
          endFrame: 30,
        }}
      />
      <IndexAnimeSlide />
      <IndexAnimeSlide />
      <IndexAnimeSlide />
      <IndexAnimeSlide />
      <IndexAnimeSlide />
      <IndexAnimeSlide />
      <!-- <button class="btn btn-info">hi</button> -->
    </main>
    <Footer />
  </body>
</html>
